*{
  text-align: center;
}

h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: black;
}

nav{
  font-family: Helvetica;
  font-size: 18px;
}

#topline{
  background-image: url("../images/flatiron.png");
}
