*{
  text-align: center;
  font-weight: bold;
}

h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

nav{
  font-family: Helvetica;
  font-size: 18px;
}

#topline{
  background-image: url("../images/flatiron.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

#footnav{
  font-family: helvetica;
  color: white;
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}

#footnav a{
  font-family: helvetica;
  color: white;
  font-size: 11px;
}

#footnav *{
  text-align: left;
}
