*{
  text-align: center;
  font-family: Helvetica;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

nav{
  font-size: 18px;
  font-weight: normal;
}

p {
  font-size; 14px;
  font-weight: normal;
}

#topline{
  background-image: url("../images/flatiron.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#breaker{
  font-size: 23px;
  color: white;
  background-image: url("../images/flatiron.png");
}

.nav{
  font-size: 18px;
  color: white;
}

#footnav{
  color: white;
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}

#footnav a{
  color: white;
  font-size: 11px;
}

#footnav *{
  text-align: left;
}

.single {
  font-size: 23px;
  font-weight: bold;
}
